.checkbox-wrapper {
  display: flex;
  align-items: center;
  column-gap: var(--space-12);
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  height: 1.8rem;
  width: 1.8rem;
  outline: none;
  flex-shrink: 0;
  border: 1px solid var(--neutral-grey);
  border-radius: 0.4rem;
  background-color: white;
  cursor: pointer;
  position: relative;
}

.checkbox:checked {
  background-color: var(--accent-mid);
  border-color: var(--accent-mid);
}

.checkbox:checked::after {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.2rem;
}

.checkbox__label {
  color: var(--neutral-dark-grey);
  font-size: var(--font-size-14);
  line-height: var(--line-height-18);
  font-weight: var(--font-weight-300);
}

.checkbox:focus {
  box-shadow: var(--accent-light) 0px 0px 0px 4px;
}
